option_settings:
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: "app.main:app"
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx

container_commands:
  01_install_dependencies:
    command: "pip install -r requirements.txt"
